<!DOCTYPE html>
<html ng-app="Academia">
<head>
  <title>Academia</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :layout_javascript  %>
  <%= yield :javascript  %>  
  <%= csrf_meta_tags %>
</head>
<body ng-cloak>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
